/NOTES.org~
__pycache__/
bin/
/connector.py~
env/
/game.py~
/gamestate.py~
include/
lib/
/main.py~
/matchmaker.py~
/player.py~
/player_manager.py~
/web/drawing.js~
/web/index.html~
/web/socket.js~
/web/test.html~
/web/test.js~
/server/game.js~
/server/node_modules/*
server/node_modules/*
/server/gamestate.js~
/server/matchmaker.js~
/server/player.js~
/server/basics.js~
/server/field.js~
/server/paddles.js~
/server/ball.js~
/server/coord.js~
/server/endpoints.js~
/server/constants.js~
/web/field.js~
/web/endpoints.js~
/web/coord.js~
/web/draw.js~
/web/main.js~
/web/play.html~
/server/collisions.js~
/server/matrix.js~
/web/input.js~
/server/health.js~
/server/robot.js~
