/NOTES.org~
__pycache__/
bin/
/connector.py~
env/
/game.py~
/gamestate.py~
include/
lib/
/main.py~
/matchmaker.py~
/player.py~
/player_manager.py~
/web/drawing.js~
/web/index.html~
/web/socket.js~
/web/test.html~
/web/test.js~
/server/game.js~
/server/node_modules/*
server/node_modules/*
/server/gamestate.js~
/server/matchmaker.js~
/server/player.js~
/server/basics.js~
/server/field.js~
/server/paddles.js~
